@model PaginatedList<TeamMember>
<!-- Container-fluid starts-->
<div class="page-body">
    <div class="title-header title-header-1">
        <h5>TeamMembers List</h5>
        <form class="d-inline-flex">
            <a asp-controller="teammember" asp-action="create" class="align-items-center btn btn-theme">
                <i data-feather="plus-square"></i>Add New TeamMember
            </a>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-body pt-0">
                            <ul class="to-do-list">
                                <li class="to-do-item">
                                    <form class="row g-2">
                                        <div class="col-lg-8">
                                            <input value="@ViewBag.Search" type="text" class="form-control" name="search"
                                                   placeholder="Enter Name ...">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-primary w-100">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="table-responsive table-desi table-product">
                                <table class="table table-1d all-package">
                                    <thead>
                                        <tr>
                                            <th>TeamMember Id</th>
                                            <th>TeamMember Image</th>
                                            <th>TeamMember Fullname</th>
                                            <th>TeamMember Profession</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="javascript:void(0)">@item.Id</a>
                                                </td>
                                                <td>
                                                    <img src="~/uploads/TeamMemberImages/@item.ImageName" style="width:100px" class="img-fluid"
                                                         alt="">
                                                </td>

                                                <td>
                                                    <a href="javascript:void(0)">@item.Fullname</a>
                                                </td>

                                                <td>
                                                    <a href="javascript:void(0)">@item.Profession</a>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a class="edit-btn-alert" asp-action="detail" asp-route-id="@item.Id">
                                                                <span class="lnr lnr-eye"></span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a class="edit-btn-alert" asp-action="edit" asp-route-id="@item.Id">
                                                                <span class="lnr lnr-pencil"></span>
                                                            </a>
                                                        </li>
                                                       

                                                        <li>
                                                            <a class="delete-btn-alert" asp-action="delete" asp-route-id="@item.Id">
                                                                <i class="far fa-trash-alt theme-color"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto " aria-label="...">
                            <ul class="pagination pagination-primary">
                                <li class="page-item @(Model.HasPrev==true?"":"disabled")">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" asp-route-search="@ViewBag.Search">Previous</a>
                                </li>

                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item @(i==Model.PageIndex?"active":"")">
                                        <a class="page-link" asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.Search">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.HasNext==true?"":"disabled")">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" asp-route-search="@ViewBag.Search">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>
