@model Product
@{
    int count = Model.ProductImages.Where(x => x.DetailPicture == true).Count();
    int tableRowsCount =(int)Math.Ceiling((decimal)count/4);
}
 <!-- tracking section start -->
<div class="page-body">
    <div class="title-header title-header-block package-card">
        <div>
            <h5>Product #@Model.Id</h5>
        </div>
        <div class="card-order-section">
            <ul>
                <li>
                        <p>Stock Status</p>
                        <h5 class="@(Model.StockStatus==false?"status-danger":"status-close")">
                            <span>@(Model.StockStatus == false ? "Out of Stock" : "In Stock")</span>
                        </h5>
                </li>
            </ul>
        </div>
    </div>

    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless ticket-table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Product information</th>
                                                    <th class="text-end" colspan="2">
                                                        <a asp-action="edit" asp-route-id="@Model.Id" 
                                                           class="theme-color edit-btn-alert">
                                                            Edit
                                                            Product
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="table-order">
                                                    <td>
                                                        <p>Poster image</p>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/uploads/ProductImages/@Model.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                                                                 class="img-fluid blur-up lazyload" alt="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p>Product Name</p>
                                                        <h5>@Model.Name</h5>
                                                    </td>
                                                    <td>
                                                        <p>Sizes</p>
                                                        @foreach (var item in @Model.ProductSizes.Where(x => x.ProductId == Model.Id))
                                                        {
                                                            <h5>@item.Size.Name, </h5>
                                                        }
                                                    </td>
                                                    <td>
                                                        <p>Tags</p>
                                                        @foreach (var item in @Model.ProductTags.Where(x => x.ProductId == Model.Id))
                                                        {
                                                            <h5>@item.Tag.Name</h5>
                                                        }
                                                    </td>

                                                </tr>

                                                <tr class="table-order">
                                                    <td>
                                                        <p>Hover Image</p>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/uploads/ProductImages/@Model.ProductImages.FirstOrDefault(x=>x.PosterStatus==false&&x.DetailPicture==false).ImageName"
                                                                 class="img-fluid blur-up lazyload" alt="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p>SalePrice</p>
                                                        <h5>$@Model.SalePrice.ToString("0.00")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Cost Price</p>
                                                        <h5>$@Model.CostPrice.ToString("0.00")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Discount percent</p>
                                                        <h5>$@Model.DiscountPercent.ToString("0.00")</h5>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td>
                                                        <p>New Arrival</p>
                                                        <h5>@(Model.IsNewArrival)
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <p>Product Name</p>
                                                        <h5>@Model.Category.Name</h5>
                                                    </td>
                                                    <td>
                                                        <p>Rate</p>
                                                        <h5>@Model.Rate</h5>
                                                    </td>
                                                    <td>
                                                        <p>Brand Name</p>
                                                        <h5>@Model.Brand.Name</h5>
                                                    </td>
                                                </tr>
                                                @for (int i = 1; i <= tableRowsCount; i++)
                                                {
                                                    <tr class="table-order">
                                                        @foreach (var item in Model.ProductImages.Where(x => x.DetailPicture == true).Take(i*4).Skip((i-1)*4))
                                                        {
                                                            <td>
                                                                <p>Detail Image</p>
                                                                <a href="javascript:void(0)">
                                                                    <img src="~/uploads/ProductImages/@item.ImageName"
                                                                         class="img-fluid blur-up lazyload" alt="">
                                                                </a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="order-success">
                                        <div class="row g-4">
                                            <div class="payment-mode">
                                                <h4>Description</h4>
                                                <p>
                                                    @Model.Description
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- tracking section End -->