@model AppUser
 <!-- tracking section start -->
<div class="page-body">
    <div class="title-header title-header-block package-card">
        <div>
            <h5>User #@Model.Id</h5>
        </div>
        <div class="card-order-section">
            <ul>
                <li>Email confirmed:<p style="font-size:large;" class="@(Model.EmailConfirmed == true ?"text-success":"text-danger")">@(Model.EmailConfirmed == true ? " True" : " False")</p></li>
            </ul>
        </div>
    </div>

    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="4">Information details</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="table-order">
                                                    <td>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/manage/assets/images/icon/UserIcon.png"
                                                                 class="img-fluid blur-up lazyload" alt="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p>Username</p>
                                                        <h5>@Model.UserName</h5>
                                                    </td>
                                                    <td>
                                                        <p>Fullname</p>
                                                        <h5>@Model.Fullname</h5>
                                                    </td>
                                                    <td>
                                                        <p>Email</p>
                                                        <h5>@Model.Email</h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="order-success">
                                        <div class="row g-4">
                                            <h4>Summary</h4>
                                            <ul class="order-details">
                                                <li>ID: @Model.Id</li>
                                                <li>Username: @Model.UserName</li>
                                                <li>Fullname: @Model.Fullname</li>
                                                <li>Email: @Model.Email</li>
                                                <li>Normalized Username: @Model.UserName</li>
                                                <li>Normalized Email: @Model.NormalizedEmail</li>
                                            </ul>

                                            <div class="delivery-sec">
                                                <a href="#">@(Model.IsAdmin==true?"Admin":"Member")</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>