 @model PaginatedList<AppUser>       
  <!-- Container-fluid starts-->
<div class="page-body">
    <div class="title-header title-header-1">
        <h5>All Users</h5>
        <form class="d-inline-flex">
            <a asp-controller="user" asp-action="create" class="align-items-center btn btn-theme">
                <i data-feather="plus-square"></i>Add New User
            </a>
        </form>
    </div>
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-body pt-0">
                            <ul class="to-do-list">
                                <li class="to-do-item">
                                    <form class="row g-2">
                                        <div class="col-lg-8">
                                            <input value="@ViewBag.Search" type="text" class="form-control" name="search"
                                                   placeholder="Enter Name ...">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-primary w-100">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="table-responsive table-desi">
                                <table class="user-table table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="form-check user-checkbox">
                                                    <input class="checkbox_animated" type="checkbox"
                                                           value="" id="checkall">
                                                </span>User
                                            </th>
                                            <th>Fullname</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Email confirmed</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model.Items)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="form-check user-checkbox">
                                                        <input class="checkbox_animated check-it"
                                                               type="checkbox" value="" id="flexCheckDefault">
                                                    </div>
                                                    <span>
                                                        <img src="~/manage/assets/images/users/1.jpg" alt="users">
                                                    </span>
                                                </td>

                                                <td>
                                                    <a href="javascript:void(0)">
                                                        <span class="d-block ">@user.Fullname</span>
                                                        <span>@(user.IsAdmin==true?"Admin":"Member")</span>
                                                    </a>
                                                </td>

                                                <td>@user.UserName</td>

                                                <td>@user.Email</td>

                                                <td class="@(user.EmailConfirmed==true?"font-success":"font-danger")">@(user.EmailConfirmed == true ? "Confirmed" : "Not confirmed")</td>

                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a class="edit-btn-alert" asp-controller="user" asp-action="detail" asp-route-id="@user.Id">
                                                                <span class="lnr lnr-eye"></span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a class="delete-btn-alert" asp-controller="user" asp-action="delete" asp-route-id="@user.Id">
                                                                <span class="lnr lnr-trash"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto " aria-label="...">
                            <ul class="pagination pagination-primary">
                                <li class="page-item @(Model.HasPrev==true?"":"disabled")">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" asp-route-search="@ViewBag.Search">Previous</a>
                                </li>

                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item @(i==Model.PageIndex?"active":"")">
                                        <a class="page-link" asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.Search">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.HasNext==true?"":"disabled")">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" asp-route-search="@ViewBag.Search">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>
<!-- Container-fluid end -->