@model CartViewModel
    <!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shopping Cart</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="index" asp-controller="home">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    @foreach(var item in Model.Items)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <a href="product-left-sidebar.html">
                                        <img src="~/uploads/ProductImages/@item.Product.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName" class=" blur-up lazyload"
                                             alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="product-left-sidebar.html">@item.Product.Name</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input disabled type="text" name="quantity" class="form-control input-number"
                                                           value="@item.Count">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            @if(item.Product.DiscountPercent>0){
                                                <h2>$@((item.Product.SalePrice*(100-item.Product.DiscountPercent)/100).ToString("0.00"))</h2>
                                            }
                                            else
                                            {
                                                <h2>$@item.Product.SalePrice.ToString("0.00")</h2>
                                            }
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color">
                                                <a class="removefromcart" asp-action="removeCart" asp-controller="product" asp-route-id="@item.Product.Id">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @if (item.Product.DiscountPercent > 0)
                                    {
                                        <h2>$@((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100).ToString("0.00"))</h2>
                                    }
                                    else
                                    {
                                        <h2>$@item.Product.SalePrice.ToString("0.00")</h2>
                                    }
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input disabled type="number" name="quantity" class="form-control input-number"
                                                   value="@item.Count">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a asp-action="RemoveCart" asp-controller="product" asp-route-id="@item.Product.Id">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <h2 class="td-color">$@((item.Product.DiscountPercent>0?(item.Product.SalePrice*(100-item.Product.DiscountPercent)/100)*item.Count:item.Product.SalePrice*item.Count).ToString("0.00"))</h2>
                                </td>
                            </tr>
                        </tbody>
                    }

                </table>
            </div>

            <div class="col-12 mt-md-5 mt-4">
                <div class="row">
                    <div class="col-sm-7 col-5 order-1">
                        <div class="left-side-button text-end d-flex d-block justify-content-end">
                            <a href="javascript:void(0)"
                               class="text-decoration-underline theme-color d-block text-capitalize">
                                clear
                                all items
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a href="index.html" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-section">
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="promo-section">
                            <form class="row g-3">
                                <div class="col-7">
                                    <input type="text" class="form-control" id="number" placeholder="Coupon Code">
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-solid-default rounded btn">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 ">
                        <div class="checkout-button">
                            <a asp-controller="order" asp-action="checkout" class="btn btn-solid-default btn fw-bold">
                                Check Out <i class="fas fa-arrow-right ms-1"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h3>Cart Totals</h3>
                                        <h6>Total MRP <span>$@(Model.TotalPrice.ToString("0.00"))</span></h6> 
                                    </div>
                                    <div class="bottom-details">
                                        <a asp-controller="order" asp-action="checkout">Process Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->
<!-- Subscribe Section Start -->
<section class="subscribe-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="subscribe-details">
                    <h2 class="mb-3">Subscribe Our News</h2>
                    <h6 class="font-light">
                        Subscribe and receive our newsletters to follow the news about our fresh
                        and fantastic Products.
                    </h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="subsribe-input">
                    <div class="input-group">
                        <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                        <button class="btn btn-solid-default" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->