@model Product
<div class="col-xl-3 col-lg-4 col-6">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a asp-action="detail" asp-controller="product" asp-route-id="@Model.Id">
                    <img src="~/uploads/ProductImages/@Model.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                         class="bg-img blur-up lazyload" alt="">
                </a>
            </div>
            <div class="back">
                <a asp-action="detail" asp-controller="product" asp-route-id="@Model.Id">
                    <img src="~/uploads/ProductImages/@Model.ProductImages.FirstOrDefault(x=>x.PosterStatus==false&&x.DetailPicture==false).ImageName"
                         class="bg-img blur-up lazyload" alt="">
                </a>
            </div>
            <div class="cart-wrap">
                <ul>
                    <li>
                        <a asp-controller="product" asp-action="addtocart" asp-route-id="@Model.Id" class="addtocart-btn"
                           data-bs-toggle="modal" data-bs-target="#addtocart">
                            <i data-feather="shopping-bag"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ProductDetailModal" class="modal-btn" asp-controller="product" asp-route-id="@Model.Id" data-bs-toggle="modal"
                           data-bs-target="#quick-view">
                            <i data-feather="eye"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-details">
            <div class="rating-details">
                <span class="font-light grid-content">@Model.Brand.Name</span>
                <ul class="rating mt-0">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <li>
                            <i class="fas fa-star @(Model.Rate>=i?"theme-color":"")"></i>
                        </li>
                    }
                </ul>
            </div>
            <div class="main-price">
                <a href="product-left-sidebar.html" class="font-default">
                    <h5>@Model.Name</h5>
                </a>
                <div class="listing-content">
                    <span class="font-light">@Model.Category.Name</span>
                    <p class="font-light">
                        @Model.Description
                    </p>
                </div>
                <h3 class="theme-color">$@Model.SalePrice.ToString("0.00")</h3>
                <button onclick="location.href = 'cart.html';" class="btn listing-content">
                    Add
                    To Cart
                </button>
            </div>
        </div>
    </div>
</div>