   @model AboutUsViewModel
@{
    var bigBanner = Model.AboutUsBanners.FirstOrDefault(x=>x.Size=="big");
}
 <!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>About Us</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- team leader section Start -->
<section class="overflow-hidden">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-5 offset-xl-1">
                <div class="row g-3">
                    @foreach (var bnr in Model.AboutUsBanners.Where(x=>x.Size=="small"))
                    {
                        <div class="col-md-6">
                            <img src="~/uploads/BannerImages/@bnr.BackgroundImageName"
                                 class="img-fluid rounded-3 about-image" alt="">
                        </div>
                    }
                    
                    <div class="col-12 ratio_40">
                        <div>
                            <img src="~/uploads/BannerImages/@bigBanner.BackgroundImageName"
                                 class="img-fluid rounded-3 team-image bg-img" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="about-details">
                    <div>
                        <h2>@bigBanner.Header</h2>
                        <h3>@bigBanner.Offer</h3>
                        <p>
                            @bigBanner.Description
                        </p>
                        <button onclick="location.href = '@bigBanner.ButtonUrl';" type="button"
                                class="btn btn-solid-default">
                            @bigBanner.ButtonText
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team leader section End -->
<!-- service section start -->
<section class="service-section about-page service-style-2 section-b-space">
    <div class="container">
        <div class="row g-4 g-sm-3">
           @foreach (var svc in Model.Services)
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <img src="~/uploads/ServiceIcons/@svc.Icon">
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">@svc.Header</h3>
                            <span class="font-light">@svc.Text</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- service section end -->
<!-- Leader section start -->
<section class="section-b-space team-leader-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title1 text-center">
                    <h2>Meet Our Team</h2>
                    <p>
                        @Model.AboutUsSettings["AboutUsMemberText"]
                    </p>
                </div>
            </div>
        </div>
        <div class="product-wrapper leader-section slick-lg-space slide-5_1 ratio_asos">
            @foreach (var tmm in Model.TeamMembers)
            {
                <div>
                    <div class="leader-contain">
                        <div class="leader-image">
                            <img src="~/uploads/TeamMemberImages/@tmm.ImageName" class="img-fluid bg-img" alt="">
                            <ul class="social-media">
                                <li>
                                    <a href="www.facebook.html">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="www.twitter.html">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="www.google.html">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="leader-contain">
                            <h3>@tmm.Fullname</h3>
                            <h6>@tmm.Profession</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- leader section End -->
<!-- testimonial section start -->
<section class="testimonial-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title1 text-center">
                    <h2>Testimonial</h2>
                    <p>
                        @Model.AboutUsSettings["AboutUsTestimonialText"]
                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial-slider product-wrapper slide-3-1 slick-lg-space">
            @foreach (var tmm in Model.TeamMembers)
            {
                <div>
                    <div class="testimonial-contain">
                        <div class="textimonial-image">
                            <img src="~/uploads/TeamMemberImages/@tmm.ImageName" class="img-fluid" alt="">
                        </div>

                        <div class="testimonial-details">
                            <ul class="rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <li>
                                        <i class="fas fa-star @(tmm.Rate>=i?"theme-color":"")"></i>
                                    </li>
                                }
                            </ul>
                            <h5 class="details-images">
                                <i class="fas fa-quote-left"></i>@tmm.Comment<i class="fas fa-quote-right"></i>
                            </h5>
                            <h5><strong>Site</strong> / @tmm.OwnWebsite</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- testimonial section end -->
<!-- Subscribe Section Start -->
<section class="subscribe-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="subscribe-details">
                    <h2 class="mb-3">Subscribe Our News</h2>
                    <h6 class="font-light">
                        Subscribe and receive our newsletters to follow the news about our fresh
                        and fantastic Products.
                    </h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="subsribe-input">
                    <div class="input-group">
                        <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                        <button class="btn btn-solid-default" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->