@model FaqViewModel
@{
    int count = 1;
    int faqCount = 1;
}
    <!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12 search-section">
                <h3>How can we help you?</h3>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- FAQ Section Start -->
<section class="faq-section pt-0">
    <div class="container">
        <div class="row g-lg-5 g-4">
            @foreach (var svc in Model.FaqServices)
            {
                <div class="col-md-4 zi-1">
                    <div class="faq-contain">
                        <div class="faq-image">
                            <img src="~/uploads/ServiceIcons/@svc.Icon" class="img-fluid blur-up lazyload"
                                 alt="">
                        </div>
                        <h2>@svc.Header</h2>
                        <h5>@svc.Text</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- FAQ Section End -->
<!-- FAQ details start -->
<section class="faq-details section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="faq-link-box">
                    <ul>
                        @foreach(var faq in Model.Faqs)
                        {
                            
                            <li>
                                <a href="#1">
                                    <h4>@count.</h4>
                                    <h5>@faq.QuestionText</h5>
                                </a>
                            </li>
                            count++;
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                @foreach (var faq in Model.Faqs)
                {
                    <div class="faq-heading" id="@faqCount">
                        <i data-feather="help-circle" class="theme-color"></i>
                        <div class="faq-option">
                            <h3>@faq.QuestionText</h3>
                            <h6 class="font-light">
                               @faq.AnswerText
                            </h6>
                        </div>
                    </div>
                    faqCount++;
                }

            </div>
        </div>
    </div>
</section>
<!-- FAQ details end -->
<!-- Subscribe Section Start -->
<section class="subscribe-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="subscribe-details">
                    <h2 class="mb-3">Subscribe Our News</h2>
                    <h6 class="font-light">
                        Subscribe and receive our newsletters to follow the news about our fresh
                        and fantastic Products.
                    </h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="subsribe-input">
                    <div class="input-group">
                        <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                        <button class="btn btn-solid-default" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->