@model HomeViewModel
@{
    var newOfferBigBanner = Model.NewOfferBanners.FirstOrDefault(x => x.Size == "big");
    var newOfferMediumBanner = Model.NewOfferBanners.FirstOrDefault(x=>x.Size=="medium");
    var dealBanner = Model.DealOfTheDayBanner;
}
    <!-- home slider start -->
<section class="home-section home-style-2 pt-0">
    <div class="container-fluid p-0">
        <div class="slick-2 dot-dark">
            @foreach (var sld in Model.Sliders)
            {
                <div>
                    <div class="home-slider">
                        <div class="home-wrap row m-0">
                            <div class="col-xxl-3 col-lg-4 p-0 d-lg-block d-none">
                                <div class="home-left-wrapper">
                                    <div>
                                        <h2>@sld.Product.Name</h2>

                                        <div class="d-flex">
                                            <ul class="rating p-0 me-2">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <li>
                                                        <i class="fas fa-star @(sld.Product.Rate>=i?"theme-color":"")"></i>
                                                    </li>
                                                }
                                              
                                            </ul>
                                            <h6 class="text-light">( @sld.Product.ProductReviews.Count() Reviews )</h6>
                                        </div>

                                        <p>
                                            @sld.Product.Description
                                        </p>
                                        <h3>$@sld.Product.SalePrice.ToString("0.00") <span class="theme-color">$@((sld.Product.SalePrice-(sld.Product.SalePrice*sld.Product.DiscountPercent/100)).ToString("0.00"))</span></h3>
                                        <ul class="selection-wrap">
                                            <li>
                                                <div class="dark-select">
                                                    <select class="form-select">
                                                        <option selected>Size</option>
                                                        @foreach (var item in sld.Product.ProductSizes)
                                                        {
                                                            <option value="@item.Size.Id">@item.Size.Name</option>
                                                        }
                                                    </select>
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dark-select">
                                                    <select class="form-select">
                                                        <option selected>Qty</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add-btn">
                                            <a href="cart.html" class="btn btn-white">Add to cart</a>
                                            <a href="javascript:void:(0)" class="btn btn-solid-default ms-2">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="share-icons">
                                            <span>share with</span>
                                            <ul class="share-icons p-0">
                                                <li>
                                                    <a target="_blank"
                                                       href="https://www.facebook.com/sharer/sharer.php?u=#url">
                                                        <img src="~/assets/images/social-icon/4.png"
                                                             class="img-fluid blur-up lazyload" alt="social icon">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.google.co.in/">
                                                        <img src="~/assets/images/social-icon/5.png"
                                                             class="img-fluid blur-up lazyload" alt="social icon">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.twitter.com/share">
                                                        <img src="~/assets/images/social-icon/6.png"
                                                             class="img-fluid blur-up lazyload" alt="social icon">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-9 col-lg-8 p-0 left-content">
                                <img src="~/uploads/SliderImages/@sld.BackgroundImageName" class="bg-img blur-up lazyload" alt="">
                                <div class="home-content row">
                                    <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-5 col-6">
                                        <h3> <span class="theme-color">@sld.SaleText</span></h3>
                                        <h1 data-animation-in="fadeInUp">
                                            @sld.TitleText
                                        </h1>
                                        <h6 class="mb-4" data-animation-in="fadeInUp" data-delay-in="0.4">
                                            @sld.OfferText 
                                        </h6>
                                        <div class="discover-block" data-animation-in="fadeInUp" data-delay-in="0.7">
                                            <div class="d-flex">
                                                <a href="@sld.ButtonUrl" class="play-icon theme-bg-color">
                                                    <i class="fas fa-play"></i>
                                                </a>
                                                <div class="discover-content">
                                                    <h4 class="theme-color mb-1">@sld.ButtonHeaderText</h4>
                                                    <h6>@sld.ButtonText</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- home slider end -->
<!-- banner section start -->
<section class="ratio2_1 banner-style-2">
    <div class="container">
        <div class="row gy-4">
            @foreach (var bnr in Model.NewArrivalBanners)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="collection-banner p-bottom p-center text-center">
                        <a href="shop-left-sidebar.html" class="banner-img">
                            <img src="~/uploads/BannerImages/@bnr.BackgroundImageName" class="bg-img blur-up lazyload" alt="">
                        </a>
                        <div class="banner-detail">
                            <a href="javacript:void(0)" class="heart-wishlist">
                                <i class="far fa-heart"></i>
                            </a>
                            <span class="font-dark-30"><span>@bnr.DiscountText</span></span>
                        </div>
                        <a href="@bnr.ButtonUrl" class="contain-banner">
                            <div class="banner-content with-big">
                                <h2 class="mb-2">@bnr.Header</h2>
                                <span>@bnr.Offer</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="ratio_asos">
    <div class="container">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>Latest</h2>
                    <h5 class="text-color">Our collection</h5>
                </div>
                <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space">
                    @foreach (var prd in Model.LatestProducts)
                    {
                        @Html.Partial("_SingleProductPartialView",prd)
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- category section start -->
<section class="category-section ratio_40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title title-2 text-center">
                    <h2>Our Category</h2>
                    <h5 class="text-color">Our collection</h5>
                </div>
            </div>
        </div>
        <div class="row gy-3">
            <div class="col-xxl-2 col-lg-3">
                <div class="category-wrap category-padding category-block theme-bg-color">
                    <div>
                        <h2 class="light-text">Top</h2>
                        <h2 class="top-spacing">Our Top</h2>
                        <span>Categories</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-10 col-lg-9">
                <div class="category-wrapper category-slider1 white-arrow category-arrow">
                    @foreach(var ctg in Model.TopCategories)
                    {
                        <div>
                            <a href="shop-left-sidebar.html" class="category-wrap category-padding">
                                <img src="~/uploads/CategoryImages/@ctg.BackgroundImageName" class="bg-img blur-up lazyload"
                                     alt="category image">
                                <div class="category-content category-text-1">
                                    <h3 class="theme-color">@ctg.Name</h3>
                                    <span class="text-dark">@ctg.CategoryTag</span>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- category section end -->
<!-- banner section 2 start -->
<section class="banner-style-2 offer-banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title title-2 text-center">
                    <h2>New Offers</h2>
                    <h5 class="text-color">Just For You</h5>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6 ratio2_1">
                <div class="collection-banner p-right text-right">
                    <a href="@newOfferBigBanner.ButtonUrl" class="banner-img">
                        <img src="~/uploads/BannerImages/@newOfferBigBanner.BackgroundImageName" class="bg-img blur-up lazyload" alt="">
                    </a>
                    <div class="banner-text">
                        <div class="banner-content">
                            <span class="span-top"><span class="theme-color">@newOfferBigBanner.Offer</span></span>
                            <h2> @newOfferBigBanner.Header <span class="theme-color">$@newOfferBigBanner.Price.ToString("#.##")</span></h2>
                            <button onclick="location.href = '@newOfferBigBanner.ButtonUrl';" type="button"
                                    class="btn btn-solid-default">
                                @newOfferBigBanner.ButtonText
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-lg-12 ratio_40">
                        <div class="collection-banner p-left banner-title">
                            <a href="@newOfferMediumBanner.ButtonUrl" class="banner-img">
                                <img src="~/uploads/BannerImages/@newOfferMediumBanner.BackgroundImageName" class="bg-img blur-up lazyload"
                                     alt="">
                            </a>
                            <div class="banner-text">
                                <div class="banner-content">
                                    <h3 class="h-bottom">@newOfferMediumBanner.Header <span class="theme-color">$@newOfferMediumBanner.Price.ToString("#.##")</span></h3>
                                    <button onclick="location.href = '@newOfferMediumBanner.ButtonUrl';" type="button"
                                            class="btn btn-solid-default">
                                        @newOfferMediumBanner.ButtonText
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var bnr in Model.NewOfferBanners.Where(x=>x.Size=="small"))
                    {
                        <div class="col-sm-6 ratio2_3">
                            <div class="collection-banner p-center text-center">
                                <a href="shop-left-sidebar.html" class="banner-img">
                                    <img src="~/uploads/BannerImages/@bnr.BackgroundImageName" class="bg-img blur-up lazyload"
                                         alt="">
                                </a>
                                <a href="@bnr.ButtonUrl" class="contain-banner">
                                    <div class="banner-content with-bg">
                                        <h3 class="mb-1">@bnr.Header</h3>
                                        <span>@bnr.Offer</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner section 2 end -->
<!-- product section 2 start -->
<section class="ratio_asos">
    <div class="container">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>New Arrival</h2>
                    <h5 class="text-color">Our collection</h5>
                </div>
                <div class="product-wrapper product-style-2 row g-sm-4 g-3">
                    @foreach (var prd in Model.NewArrivalProducts)
                    {
                        @Html.Partial("_SingleProductPartialView",prd)
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section 2 end -->
<!-- Banner section 3 start -->
<section class="timer-banner-style-2">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-12">
                <div class="discount-image-details discount-spacing">
                    <img src="~/uploads/BannerImages/@dealBanner.BackgroundImageName" class="bg-img blur-up lazyload" alt="">

                    <div class="discunt-details">
                        <div>
                            <div class="heart-button heart-button-2">
                                <i class="fas fa-heart theme-color"></i>
                            </div>

                            <h5 class="mt-3"> <span class="theme-color">@dealBanner.DiscountText</span></h5>
                            <h2 class="my-3 deal-text">
                                @dealBanner.Header <br /> <span class="theme-color">$@dealBanner.Price.ToString("#.##")</span>
                            </h2>
                            <div class="timer-style-2 mt-xl-1 my-2 justify-content-center d-flex">
                                <ul>
                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h2 id="days1" class="theme-color"></h2>Days
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h2 id="hours1" class="theme-color"></h2>Hour
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h2 id="minutes1" class="theme-color"></h2>Min
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter">
                                            <div>
                                                <h2 id="seconds1" class="theme-color"></h2>Sec
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button onclick="location.href = '@dealBanner.ButtonUrl';" type="button"
                                    class="btn default-light-theme default-theme mt-2">
                                @dealBanner.ButtonText
                            </button>

                            <div class="timer-bg timer-bg-center d-lg-block d-none">
                                <h3 class="mt-0">@dealBanner.UltraBannerSecondHeader</h3>
                                <span>@dealBanner.Offer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section 3 end -->
<!-- instagram shop section start -->
<section class="ratio_square">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="title title-2 text-center">
                    <h2>Instagram Shop</h2>
                    <h5 class="text-color">New Collection</h5>
                </div>
                <div class="product-style-1 instagram-2 product-wrapper">
                    <div class="insta-slider instagram-wrap">
                        @foreach(var bnr in Model.InstagramBanners)
                        {
                            <div>
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="top-wishlist product-color">
                                            <a href="wishlist.html" class="heart-wishlist heart-color ms-auto">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </div>
                                        <div class="share share-box share-opacity">
                                            <span class="share-plus share-plus-color">+</span>
                                            <span>Share</span>
                                        </div>
                                        <a href="javascript:void(0)" class="text-center">
                                            <img src="~/uploads/BannerImages/@bnr.BackgroundImageName"
                                                 class="bg-img blur-up lazyload" alt="">
                                        </a>
                                    </div>
                                    <div class="insta-hover insta-spacing text-center">
                                        <div>
                                            <h5>@bnr.DiscountText</h5>
                                            <h3 class="text-hide">@bnr.Header $@bnr.Price.ToString("#.##")</h3>
                                            <button onclick="location.href = '@bnr.ButtonUrl';" type="button"
                                                    class="btn btn-light-white">
                                                @bnr.ButtonText <i class="fas fa-chevron-right ms-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instagram shop section end -->
<!-- service section start -->
<section class="service-section service-style-2 section-b-space">
    <div class="container">
        <div class="row g-4 g-sm-3">
            @foreach(var svc in Model.HomeServices)
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            
                                <img src="~/uploads//ServiceIcons/@svc.Icon">
                            
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">@svc.Header</h3>
                            <span class="font-light">@svc.Text</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- service section end -->

@section Timer1Script
{
    <script defer>
        var second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        var countDown = new Date("@dealBanner.OfferTime.ToString("MMM dd, yyyy hh:mm:ss")").getTime(),
            x = setInterval(function () {
                var now = new Date().getTime(),
                    distance = countDown - now;

                (document.getElementById("days1").innerText = Math.floor(distance / day)),
                    (document.getElementById("hours1").innerText = Math.floor(
                        (distance % day) / hour
                    )),
                    (document.getElementById("minutes1").innerText = Math.floor(
                        (distance % hour) / minute
                    )),
                    (document.getElementById("seconds1").innerText = Math.floor(
                        (distance % minute) / second
                    ));
            }, second);
    </script>
}

@section AddToCartModalScript
{
    <!-- add to cart modal resize -->
    <script src="~/assets/js/cart_modal_resize.js" defer></script>
}