@model Slider
 <!-- tracking section start -->
<div class="page-body">
    <div class="title-header title-header-block package-card">
        <div>
            <h5>Slider #@Model.Id</h5>
        </div>
        <div class="card-order-section">
            <ul>
                <li>Product Id @Model.ProductId</li>
                <li>Product Name: @Model.Product.Name</li>
            </ul>
        </div>
    </div>

    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Items</th>
                                                    <th class="text-end" colspan="2">
                                                        <a asp-action="edit" asp-route-id="@Model.Id"
                                                           class="theme-color edit-btn-alert">
                                                            Edit
                                                            Slider
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="table-order">
                                                    <td>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/uploads/SliderImages/@Model.BackgroundImageName"
                                                                 class="img-fluid blur-up lazyload" >
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p>Title text</p>
                                                        <h5>@Model.TitleText</h5>
                                                    </td>
                                                    <td>
                                                        <p>Sale text</p>
                                                        <h5>@(Model.SaleText??"null")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Offer text</p>
                                                        <h5>@(Model.OfferText??"null")</h5>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td>
                                                        <p>Button text</p>
                                                        <h5>@(Model.ButtonText??"null")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Button header text</p>
                                                        <h5>@(Model.ButtonHeaderText??"null")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Button Url</p>
                                                        <h5>@(Model.ButtonUrl??"null")</h5>
                                                    </td>
                                                    <td>
                                                        <p>Product Id</p>
                                                        <h5>@Model.ProductId</h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- tracking section End -->