 @model ShopViewModel
@{
    int productCount = Model.PopularProducts.Count();
    int sliderCount = Convert.ToInt32(Math.Ceiling(d:(productCount / 3)));
}
   <!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shop Listing</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Fashion</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Shop Section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="category-option">
                    <div class="button-close mb-3">
                        <button class="btn p-0"><i data-feather="arrow-left"></i> Close</button>
                    </div>
                    <div class="accordion category-name" id="accordionExample">
                        <form>
                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo">
                                    Brand
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        
                                        @foreach (var item in Model.Brands)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input name="brandId" value="@item.Id" class="checkbox_animated check-it" type="checkbox">
                                                    <label class="form-check-label" >@item.Name</label>
                                                    <p class="font-light">(@(item.Products.Count()))</p>
                                                </div>
                                            </li>
                                        }
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-rating">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo">
                                        Tag
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body category-scroll">
                                        <ul class="category-list">

                                            @foreach (var item in Model.Tags)
                                            {
                                                <li>
                                                    <div class="form-check ps-0 custome-form-check">
                                                        <input name="tagId" value="@item.Id" class="checkbox_animated check-it" type="checkbox">
                                                        <label class="form-check-label">@item.Name</label>
                                                        <p class="font-light">(@(item.ProductTags.Count()))</p>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne">
                                    Category
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach(var item in Model.Categories)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input name="categoryId" value="@item.Id" class="checkbox_animated check-it" type="checkbox"
                                                           id="flexCheckDefault10">
                                                    <label class="form-check-label"
                                                           for="flexCheckDefault10">@item.Name</label>
                                                    <p class="font-light">(@item.Products.Count())</p>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-price">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour">
                                    Price
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse show"
                                 aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="range-slider category-list">
                                        <input type="text" class="js-range-slider" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive">
                                    Discount Range
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse show"
                                 aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="category-list">
                                        <li>
                                            <div class="form-check ps-0 custome-form-check">
                                                <input name="discount" value="5" class="checkbox_animated check-it" type="radio"
                                                       id="flexCheckDefault19">
                                                <label class="form-check-label" for="flexCheckDefault19">
                                                    5% and
                                                    above
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check ps-0 custome-form-check">
                                                <input name="discount" value="10" class="checkbox_animated check-it" type="radio"
                                                       id="flexCheckDefault20">
                                                <label class="form-check-label" for="flexCheckDefault20">
                                                    10% and
                                                    above
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check ps-0 custome-form-check">
                                                <input name="discount" value="20" class="checkbox_animated check-it" type="radio"
                                                       id="flexCheckDefault21">
                                                <label class="form-check-label" for="flexCheckDefault21">
                                                    20% and
                                                    above
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">

                                <div class="input-group" style="display:flex;justify-content:center;">
                                    <button class="btn btn-solid-default" type="submit">Filter</button>
                                </div>

                            </div>
                        </form>

                        <!-- Slider section start -->
                        <div class="most-popular">
                            <div class="title title-2 text-lg-start">
                                <h3>Most Popular</h3>
                            </div>

                            <div class="product-slider round-arrow1">
                                
                                @for (int i = 1; i <= sliderCount; i++)
                                {
                                    <div>
                                        <div class="row g-3">
                                            @foreach (var item in Model.PopularProducts.Take(i*3).Skip((i-1)*3))
                                            {
                                                <div class="col-12">
                                                    <div class="product-image">
                                                        <a href="javascript:void(0)">
                                                            <img src="~/uploads/ProductImages/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                                                                 class="blur-up lazyload" alt="">
                                                        </a>
                                                        <div class="product-details">
                                                            <h6 class="font-light">@item.Brand.Name</h6>
                                                            <a href="javascript:void(0)" class="">
                                                                <h3>@item.Name</h3>
                                                            </a>
                                                            <h4 class="font-light mt-1">
                                                                @if (item.DiscountPercent > 0)
                                                                {

                                                                    <span class="theme-color">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>

                                                                    <del>$@item.SalePrice.ToString("0.00")</del>
                                                                }
                                                                else
                                                                {
                                                                    <span>$@item.SalePrice.ToString("0.00")</span>
                                                                }
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                

                                
                            </div>
                        </div>
                        <!-- Slider Section End -->
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12 ratio_30">
                <div class="banner-deatils">
                    <div class="banner-image">
                        <img src="~/uploads/BannerImages/@Model.ShopBanner.BackgroundImageName" class="img-fluid bg-img blur-up lazyload"
                             alt="">
                        <div class="banner-content">
                            <div>
                                <h3>@Model.ShopBanner.Header</h3>
                                <p>
                                    @Model.ShopBanner.Description
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="banner-contain mt-3 mb-5">
                        <p class="font-light">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="filter-options">
                            <div class="grid-options d-sm-inline-block d-none">
                                <ul class="d-flex">
                                    <li class="list-btn">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/svg/list.svg" class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- label and featured section -->
                <!-- Prodcut setion -->
                <div class="row g-sm-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">
                    @foreach(var item in Model.Products.Items)
                    {
                        @Html.Partial("_SingleProductPartialView",item)
                    }
                    <!-- Prodcut setion -->
                </div>

                <nav class="page-section">
                    <ul class="pagination pagination-primary">
                        <li class="page-item @(Model.Products.HasPrev==true?"":"disabled")">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.Products.PageIndex-1)">Previous</a>
                        </li>

                        @for (int i = 1; i <= Model.Products.TotalPage; i++)
                        {
                            <li class="page-item @(i==Model.Products.PageIndex?"active":"")">
                                <a class="page-link" asp-action="index" asp-route-page="@i">@i</a>
                            </li>
                        }

                        <li class="page-item @(Model.Products.HasNext==true?"":"disabled")">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.Products.PageIndex+1)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section end -->
<!-- Subscribe Section Start -->
<section class="subscribe-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="subscribe-details">
                    <h2 class="mb-3">Subscribe Our News</h2>
                    <h6 class="font-light">
                        Subscribe and receive our newsletters to follow the news about our fresh
                        and fantastic Products.
                    </h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="subsribe-input">
                    <div class="input-group">
                        <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                        <button class="btn btn-solid-default" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->
@section PriceFilterScript
{
    <script src="~/assets/js/price-filter.js" defer></script>
}
@section PluginScript
{
    <!--Plugin JavaScript file-->
    <script src="~/assets/js/ion.rangeSlider.min.js" defer></script>
}
@section FilterHideShowScript
{
    <!-- Filter Hide and show Js -->
    <script src="~/assets/js/filter.js" defer></script>
}

